/* Styling for Desktop Screen Size */


/* Utility Classes */
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;  
    background-color: #161616;  
}

.container{
    max-width: 1321px;
    margin: auto;
}

#header .arrow .fa-angle-right{
    color: white;
}

/* Header Styling Starts Here */
#header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #F2CA30;
    border-radius: 30px;
    padding-top: 106px;
    padding-right: 106px;
    padding-left: 106px;
    height: 646px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#header .info-left{
    margin-bottom: 120px;
}
#header .info-left h1{
    font-weight: 900;
    font-size: 70px;
    color: #1c2530;
}
#header .info-left .showcase-small{
    display: none;
}
#header .info-left .showcase-large{
    font-weight: 400;
    font-size: 16px; 
    color:#384555;
}
#header .info-right img{
    position: relative;
    left: 70px;
    top:7px;
    width: 590px;
    height: 690px;
}
#header .info-left .btn{
    margin-top: 40px;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    padding-left: 29px;
    border: none;
    
    /* Animation Styling */
    position: relative;
    animation: shake 1s infinite ease-in-out;
}
/* Animation Styling */
@keyframes shake {
    0%{
        transform: scale(1.1) translate(1px,1px);
    }
    25%{
        transform: scale(1) translate(-1px,-1px);
    }
    50%{
        transform: scale(1.1) translate(-1px,1px);
    }
    75%{
        transform: scale(1) translate(1px,-1px);
    }
    100%{
        transform: scale(1.1) translate(1px,1px);
    }
}

#header .info-left .btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
#header .info-left .btn .fa-angle-right{
    padding-left: 10px;
}

/* Header Styling Ends Here */

/* ........................... */

/* Main Section Styling Starts Here */
.main-section{
    display: flex;
    margin-bottom: 150px;
}
.main-section .tablet-btn{
    display: none;
}
/* Side Navigation Styling Starts Here */


#side-nav{
    background-color: #F2CA30;
    width: 312px;
    height: 250px;
    border-radius: 20px;
    padding: 30px;
}
#side-nav .nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
#side-nav .nav-items .nav-item{
    text-align: center;
    background-color: #f5f0f6;
    padding: 10px 80px;
    margin-bottom: 30px;
    border-radius: 15px;
}
#side-nav .nav-items .nav-item a{
    text-decoration: none;
    font-size: 14px;
    color: #232c38;
    font-weight: 500;
}
#side-nav .nav-items .nav-item.long{
    padding: 10px 20px;
}

#side-nav .nav-items .nav-item.current{
    text-align: center;
    background-color: #DD0000;
}
#side-nav .nav-items .nav-item.current a{
    color: #ffffff;
}
/* Side Navigation Styling Ends Here */

/* ........................... */

/* Blog Styling Starts Here */
#blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-left: 30px;
}
.blog-item, .btn-light{
    background: #f5f0f6;
    border: 3px solid #f5f0f6;
    border-radius: 20px;
}
.blog-item img{
    width: 100%;
    border-radius: 20px;
}

.blog-item h3,.stats{
    padding-left: 20px;
}
.blog-item .btn-light{
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px 16px;
    background-color: #161616;
    color: #f5f0f6;
    border: none;
    border-radius: 5px;
}
.stats{
    display: flex;
    justify-content: flex-start;
}
.stats p{
    margin-right: 10px;
    color: rgba(22, 22, 22, 0.7);;
}

/* Blog Styling Ends Here */

/* Matches Section Styling Starts Here */
#matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-left: 30px;
}
#matches .match-item{
    background-color: #f5f0f6;
    padding: 30px 33px; 
    border: 1px solid #f5f0f6;
    border-radius: 20px;

}
#matches .match-item .match-flags{
    display: flex;
    align-items: center;
}
#matches .match-item .match-flags h4{
    padding: 0px 20px;
}
#matches .match-item .match-flags img{
    width: 100%;
    height: 56.18px;
}
#matches .match-item .match-names h2,
#matches .match-item .match-details p{
    text-align: center;
}
#matches .match-item .match-names h2{
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin: 5px 0px;
}
#matches .match-item .match-names h2 span{
    font-size: 15px;
}
#matches .match-item .match-details p{
    font-weight: 400;
    font-size: 13px;
    color: #4D4D4D;
    margin: 8px 0px;
}

/* Matches Section Styling Ends Here */


/* Main Section Styling Ends Here */
/* ........................... */

/* Footer Styling Starts Here */
#footer{
    background-color: #1a1d20;
    padding-top: 100px;
    padding-bottom: 150px;
}
#footer .footer-options .options.tablet{
    display: none;
}
#footer .footer-options{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f5f0f6;
}
#footer .footer-options h2{
    font-size: 40px;
    font-weight: 600;
}
#footer .footer-options .divider{
    width: 1320px;
    height: 0px;
    margin-bottom: 40px;
    opacity: 0.1;
}

#footer .footer-options .options a{
    text-decoration: none;
    color: #f5f0f6;
    padding: 0px 40px;
}
#footer .footer-options .options{
    margin-bottom: 20px;
}
#footer .socials{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#footer .socials .social-options a{
    text-decoration: none;
    padding: 0px 40px;
}
#footer .socials .social-options a i{
    font-size: 30px;
    color: #f5f0f6;
}
/* Footer Styling Ends Here */

/* ........................... */

/* Media Queries Starts Here */

/* Mobile Screen Styling Starts Here */
/* Mobile Screen Size: 576px  */
/* Styling for I-Phone 12 Pro */
@media only screen and (max-width:667px){
    .container{
        width: 100%;
    }
    /* Header Styling Starts Here */
    #header{
        margin: 5px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #F2CA30;
        border-radius: 30px;
        height: 672px;
        margin-top: 5px;
        padding-top: 8px;
        padding-left: 38px;
        padding-right: 38px;
    }
    #header .info-left{
        overflow: hidden;
    }
    #header .info-left h1{
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        color: #1c2530;
        
    }
    #header .info-left .showcase-large{
        display: none;
    }
    #header .info-left .showcase-small{
        display: block;
        font-weight: 400;
        font-size: 14px;
        color:#384555;
        text-align: center;
    }
    #header .info-right img{
        position: absolute;
        width: 233px;
        height: 245px;
        left: 100px;
        top: 440px;
    }
    #header .info-left .btn{
        margin-top: 10px;
        background: #DD0000;
        border-radius: 5px;
        padding: 14px 25px;
        padding-left: 29px;
        border: none;
        margin-left: 80px;
    }
    #header .info-left .btn a{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
    }
    #header .info-left .btn .fa-angle-right{
        padding-left: 10px;
    }
    /* Header Styling Ends Here */
    /* ........................... */

    /* Main Section Styling Starts Here */
    .main-section{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .main-section .tablet-btn{
        display: none;
    }
    /* Side Navigation Styling Starts Here */
    #side-nav{
        background-color: #161616;
        margin-left: 33px;
        width: 300px;
        height: 250px;
        border-radius: 20px;
        padding: 10px;
    }
    #side-nav .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }
    #side-nav .nav-items .nav-item{
        text-align: center;
        background-color: #f5f0f6;
        padding: 10px 80px;
        margin-bottom: 30px;
        border-radius: 15px;
    }
    #side-nav .nav-items .nav-item a{
        text-decoration: none;
        font-size: 14px;
        color: #232c38;
        font-weight: 500;
    }
    #side-nav .nav-items .nav-item.long{
        padding: 10px 20px;
    }

    #side-nav .nav-items .nav-item.current{
        text-align: center;
        background-color: #DD0000;
    }
    #side-nav .nav-items .nav-item.current a{
        color: #ffffff;
    }
    /* Side Navigation Styling Ends Here */

    /* ........................... */

    /* Blog Styling Starts Here */
    #blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .blog-item, .btn-light{
        background: #f5f0f6;
        border: 3px solid #f5f0f6;
        border-radius: 20px;
    }
    .blog-item img{
        width: 100%;
        border-radius: 20px;
    }

    .blog-item h3,.stats{
        padding-left: 20px;
    }
    .blog-item .btn-light{
        margin-top: 20px;
        margin-left: 20px;
        padding: 6px 16px;
        background-color: #161616;
        color: #f5f0f6;
        border: none;
        border-radius: 5px;
    }
    .stats{
        display: flex;
        justify-content: flex-start;
    }
    .stats p{
        margin-right: 10px;
        color: rgba(22, 22, 22, 0.7);;
    }

    /* Blog Styling Ends Here */

    /* Matches Section Styling Starts Here */
    #matches{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #matches .match-item{
        background-color: #f5f0f6;
        padding: 30px 33px; 
        border: 1px solid #f5f0f6;
        border-radius: 20px;

    }
    #matches .match-item .match-flags{
        display: flex;
        align-items: center;
    }
    #matches .match-item .match-flags h4{
        padding: 0px 20px;
    }
    #matches .match-item .match-flags img{
        width: 100%;
        height: 66.18px;
    }
    #matches .match-item .match-names h2,
    #matches .match-item .match-details p{
        text-align: center;
    }
    #matches .match-item .match-names h2{
        font-weight: 600;
        font-size: 18px;
        color: #161616;
        margin: 5px 0px;
    }
    #matches .match-item .match-names h2 span{
        font-size: 15px;
    }
    #matches .match-item .match-details p{
        font-weight: 400;
        font-size: 13px;
        color: #4D4D4D;
        margin: 8px 0px;
    } 
    /* Matches Section Styling Ends Here */

    /* Main Section Styling Ends Here */
    /* ........................... */

    /* Footer Styling Starts Here */
    #footer{
        background-color: #1a1d20;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #footer .footer-options .options.tablet{
        display: none;
    }
    #footer .footer-options{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #f5f0f6;
    }
    #footer .footer-options .options{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #f5f0f6;
    }
    #footer .footer-options h2{
        font-size: 22px;
        font-weight: 600;
    }
    #footer .footer-options .divider{
        width: 335px;
        height: 0px;
        margin-bottom: 40px;
        opacity: 0.1;
    }

    #footer .footer-options .options a{
        text-decoration: none;
        color: #f5f0f6;
        padding: 20px 0px;
    }
    #footer .footer-options .options{
        margin-bottom: 20px;
    }


    #footer .socials{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #footer .socials .social-options a{
        text-decoration: none;
        padding: 0px 20px;
    }
    #footer .socials .social-options a i{
        font-size: 25px;
        color: #f5f0f6;
    }
    /* Footer Styling Ends Here */
}
/* Mobile Screen Styling Ends Here */

/* ........................... */

/* Tablet Screen Styling Starts Here */
/* Tablet Screen Size: 569px to 768px  */
/* Styling for I-Pad Mini */

@media only screen and (min-width: 668px) and (max-width: 768px){
    .container{
        width: 734px;
        margin: auto;
    }
    /* Header Styling Starts Here */
    #header{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F2CA30;
        border-radius: 30px;
        height: 250px;
        margin-top: 15px;
        margin-bottom: 5px;
        padding-left: 56px;
        padding-right: 56px;
    }
    #header .info-left h1{
        font-weight: 700;
        font-size: 35px;
        color: #1c2530;
        margin: 5px 0px;
    }
    #header .info-left .showcase-large{
        display: none;
    }
    #header .info-left .showcase-small{
        display: block;
        font-weight: 400;
        font-size: 14px;
        color:#384555;
        text-align: left;
        margin: 5px 0px;
    }
    #header .info-right img{
        position: relative;
        width: 100%;
        height: 100%;
        transform: scale(1.27);
        left: 15px;
        top: -35px;
    }
    #header .info-left .btn{
        margin-top: 5px;
        background: #DD0000;
        border-radius: 5px;
        padding: 16px 25px;
        padding-left: 29px;
        border: none;
        margin: 10px 0px;
    }
    #header .info-left .btn a{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
    }
    #header .info-left .btn .fa-angle-right{
        padding-left: 10px;
    }

    /* Header Styling Ends Here */

    /* ........................... */

    /* Main Section Styling Starts Here */
    .main-section{
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
    }

    /* Side Navigation Styling Starts Here */
    #side-nav{
        background-color: #161616;
        margin: auto;
        width: 670px;
        height: 5px;
        margin-bottom: 70px;
    }

    #side-nav .nav-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
    }
    #side-nav .nav-items .nav-item{
        text-align: center;
        background-color: #f5f0f6;
        padding: 10px 80px;
        margin: 10px;
        margin-bottom: 30px;
        border-radius: 15px;
    }
    #side-nav .nav-items .nav-item.long{
        display: inline-block;
        padding-right: 50px;
        padding-left: 50px;
    }

    /* Side Navigation Styling Ends Here */

    /* ........................... */

    /* Blog Styling Starts Here */
    #blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
        margin-left: 3px;
    }
    .blog-item, .btn-light{
        background: #f5f0f6;
        border: 3px solid #f5f0f6;
        border-radius: 20px;
    }
    .blog-item img{
        width: 100%;
        border-radius: 20px;
    }

    .blog-item h3,.stats{
        padding-left: 20px;
    }
    .blog-item .btn-light{
        margin-top: 20px;
        margin-left: 20px;
        padding: 6px 16px;
        background-color: #161616;
        color: #f5f0f6;
        border: none;
        border-radius: 5px;
    }
    .stats{
        display: flex;
        justify-content: flex-start;
    }
    .stats p{
        margin-right: 10px;
        color: rgba(22, 22, 22, 0.7);;
    }
    .main-section .tablet-btn{
        display: inline-block;
        margin: 40px 300px;
        padding: 10px 0px;
        text-align: center;
        background-color: #DD0000;
        border-radius: 10px;
        font-size: 18px;
    }
    .main-section .tablet-btn a{
        text-decoration: none;
        color: #f5f0f6;
    }
    /* Blog Styling Ends Here */

    /* Matches Section Styling Starts Here */
    #matches{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-left: 3px;
    }
    #matches .match-item{
        background-color: #f5f0f6;
        padding: 30px 33px; 
        border: 1px solid #f5f0f6;
        border-radius: 20px;

    }
    #matches .match-item .match-flags{
        display: flex;
        align-items: center;
    }
    #matches .match-item .match-flags h4{
        padding: 0px 20px;
    }
    #matches .match-item .match-flags img{
        width: 100%;
        height: 68px;
    }
    #matches .match-item .match-names h2,
    #matches .match-item .match-details p{
        text-align: center;
    }
    #matches .match-item .match-names h2{
        font-weight: 600;
        font-size: 18px;
        color: #161616;
        margin: 5px 0px;
    }
    #matches .match-item .match-names h2 span{
        font-size: 15px;
    }
    #matches .match-item .match-details p{
        font-weight: 400;
        font-size: 13px;
        color: #4D4D4D;
        margin: 8px 0px;
    }

    /* Matches Section Styling Ends Here */


    /* Main Section Styling Ends Here */
    /* ........................... */

    /* Footer Styling Starts Here */
    #footer{
        background-color: #1a1d20;
        padding-top: 20px;
        padding-bottom: 230px;
    }
    #footer .footer-options .options.tablet{
        display: block;
    }
    #footer .footer-options .options{
        display: none;
    }
    #footer .footer-options{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        color: #f5f0f6;
    }
    #footer .footer-options h2{
        font-size: 28px;
        font-weight: 600;
    }
    #footer .footer-options .divider{
        width: 600px;
        height: 0px;
        margin-right: 10px;
        margin-bottom: 40px;
        opacity: 0.1;
    }

    #footer .footer-options .options a{
        text-decoration: none;
        font-size: 14px;
        color: #f5f0f6;
        display: inline-block;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 17px;
        margin-bottom: 10px;
    }
    #footer .footer-options .options{
        margin-left: 27px;
        margin-right: 55px;
    }

    #footer .footer-options .tablet .next-line{
        margin-left: 175px;
        padding: 20px;
        margin-bottom: -20px;
    }

    #footer .socials{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    #footer .socials .social-options a{
        text-decoration: none;
        padding: 0px 40px;
    }
    #footer .socials .social-options a i{
        font-size: 30px;
        color: #f5f0f6;
    }
    /* Footer Styling Ends Here */
}

/* Tablet Screen Styling Ends Here */

/* Media Queries Ends Here */

/* ........................... */